<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header class="header">
        <div class="container text-center">
            <img src="/img/logo1.png" width="500" height="250" alt="Суши и пицца">
            <p class="lead">
                Неправильно подобранный саморез может привести к плохому закреплению конструкции и
                повреждению материала. Зная, какие бывают виды саморезов и их назначение, получится грамотно подобрать
                крепеж для монтажа в дерево, металл, бетон, "сэндвич" и другие поверхности.
            </p>
        </div>
    </header>
    <div class="container mt-5">
        @RenderBody()
    </div>
    <footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>© Perm 2023 MRR <a href="#">Privacy</a> · <a href="#">Terms</a></p>
  </footer>
    <script src="~/js/bootstrap.min.js"></script>
</body>
</html>
