    <h2>МАГАЗИН САМОРЕЗОВ</h2>
    <h3>@Model.currCategory</h3>
    <div class="row mt-5 mb-2">
    @{
        foreach (Tovar tovar in Model.AllTovars){

            @Html.Partial("AllTovars", tovar)
            
        }
    }
    </div>
