@model HomeViewModls

    <h2>МАГАЗИН САМОРЕЗОВ</h2>
    
    <div class="row mt-5 mb-2">
    @{
        foreach (Tovar tovar in Model.FavTovar){

             @Html.Partial("AllTovars", tovar)
            
        }
    }
    </div>
